@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject IToastService ToastService

Please log in below or <a href="register">register</a> for a new account.

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserLogin user = new UserLogin();

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(user);
        if (result.IsSuccess)
        {
            string token = result.Data;
            await LocalStorage.SetItemAsync<string>("authToken", token.Replace("\"", token));
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
        }
        else
        {
            ToastService.ShowError(result.Message);
        }
    }
}
